// @font-face
//   font-family 'iconfont'
//   src url('../fonts/iconfont/iconfont.eot')
//   src url('../fonts/iconfont/iconfont.eot') format('embedded-opentype'),
//     url('../fonts/iconfont/iconfont.ttf') format('truetype'),
//     url('../fonts/iconfont/iconfont.woff') format('woff'),
//     url('../fonts/iconfont/iconfont.woff2') format('woff2')
//   font-weight normal
//   font-style normal

// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&amp;subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');

h1, h2, h3, h4, h5, h6
  font-weight 600
