// variables
$white = #fff
$black = #000

$dark = #0F0F0F

$grey-lightest = #FAFAFA
$grey-border = #C4C4C4
$grey-lightest-main = #F0F5F6
$grey-lightest-medium = #F2F7F7
$grey-lighter = #E5E5E5
$grey-lighter-border = #E4E4E4
$grey-lighter-medium = #E9F1F2
$grey-light = #C9C9C9
$grey-light-medium = #747474
$grey = #474747
$grey-dark = #363636
$grey-darkest = #272727
$grey-darkest-deep = #212121

$orange = #FD7C23
$orangeHot = #f64b22
$orangeHot-hover = #f7663b
$orangeHot-active = #de441f
$orangeHot-disabled = #f6d0c3

$pink = #FC36C0

$yellow = #F2B03C

$error = #EE2B47
$red-secondary = #EE2B47
$red-light = #F94A0D
$red-light-medium = #f96353
$red = #F14B11
$red-hover = #f36635
$red-active = #d9430f
$red-disabled = #fbd2c3
$red-dark = #ee4c23
$red-darker = #de441f

$redCold = #eb2f4b
$redCold-hover = #ee4d66
$redCold-active = #d42a44
$redCold-disabled = #f4c9cf

$blue-lighter = #2AD8FF
$blue-light = #7DB2EC
$blue-dark = #232355

$blueDim = #8a8ea6
$blueDim-hover = #9c9fb3
$blueDim-active = #7c8095
$blueDim-disabled = #dedfe5

$violet = #7C78B5
$violet-border = #8A8EA7
$violet-hover = #908dbe
$violet-active = #706da1
$violet-disabled = #deddeb
$violet-dark = #455770
$violet-background = #222033

$green-light = #88C0C6
$green-cold = #3DC7BE

$dark-15 = rgba(0, 0, 0, 0.15)
$dark-30 = rgba(0, 0, 0, 0.3)

$headerHeight = 80px
$main-menu-mobile-width = 268px
$main-user-mobile-width = 268px
