.advertise-block
  width 220px
  height 220px

  background $grey-lightest-main
  border-radius 4px
  display flex
  align-items center
  padding 24px
  box-sizing border-box

  .advertise-block-text
    color $white
    line-height: 27px;
    font-size: 19px;
    text-align: center;
