.compatibility
  border 1px solid $grey-lighter-medium
  border-radius 4px
  box-sizing border-box
  padding 16px 30px 14px 28px
  display flex
  align-items center

  .compatibility-title
    font-weight 500
    line-height 28px
    font-size 18px
    color $grey-light-medium
    padding-right 28px

.compatibility-list
  display flex
  align-items center

.compatibility-item
  font-weight: 900;
  line-height: normal;
  font-size: 12px;
  text-align center
  display flex
  justify-content center
  align-items center
  border-radius: 2px;
  background $grey
  margin 0 4px 0 3px
  padding 0 5px
  min-width 24px
  height 24px
  box-sizing border-box

  &.-orange
    color $white
    background $orange

  &.-blue
    color $white
    background $blue-lighter

  &.-pink
    color $white
    background $pink

  &.-yellow
    color $white
    background $yellow


.items-selector-compatibility
  margin-bottom 6px

  .compatibility-headline
    font-family 'Roboto'
    font-weight 500
    line-height 25px
    font-size 16px
    color $grey-light-medium

  .compatibility-list
    margin-left -2px
