.input-wrapper
  display inline-block
  position relative

  &.-grey
    .input
      color $grey
      background $grey-lightest-main
      border-color transparent

      &:focus,
      &:active
        color $grey
        border-color $violet-border

      +placeholder()
        color $grey-light

    &:hover
      .input
        color $grey
        border-color $grey-light

        &:focus,
        &:active
          color $grey
          border-color $violet-border

  &.-default
    .input
      font-size 18px
      border-width 2px
      border-style solid
      padding 15px 28px 14px

      + .input-icon
        top 28px

  &.-wide
    width 100%

  .input
    width 100%
    display inline-block
    box-sizing border-box
    border-radius 4px
    -webkit-appearance none
    transition border-color .15s ease-in-out, color .15s ease-in-out

    // &:invalid
    //   border-color $error
    //   color $error
    //
    //   & ~ .input-notice
    //     color $error
    //
    // &:valid
    //   border-color $green-cold
    //
    //   + .input-icon.-success
    //     display block
    //
    //   ~ .input-notice
    //     display none

  &.-success
    .input
      border-color $green-cold

    .input-icon.-success
      display block

  &.-error
    .input
      border-color $error
      color $error

    .input-notice
      color $error

  &.-password
    .input-icon.-view-password
      cursor pointer
      top 22px
      display block
      fill $grey-light

      &.-show
        fill $violet-border

.input-icon
  position absolute
  display none
  right 32px
  // top 50%
  // transform translate(0, -50%)

  &.-success
    fill $green-cold

.input-notice
  display block
  box-sizing border-box
  font-size 12px
  color $grey-light
  font-weight 400
  padding 6px 28px
  user-select none


.input-info
  border-radius 4px
  background $grey-lightest-medium
  box-sizing border-box
  padding 16px 25px 18px
  line-height: 18px;
  font-size: 13px;
  display flex

  .input-info-icon
    flex-grow 0
    flex-shrink 0
    margin-right 21px
    position relative
    top 4px

  &.-notice
    background $violet-border
    color $white

    .input-info-icon
      fill $white

  &.-error
    background $error
    color $white

    .input-info-icon
      fill $white

@media (max-width 620px)
  .input-wrapper.-default
    .input
      padding 15px 18px 10px
      font-size 16px

  .input-notice
    padding 8px 21px

  .input-wrapper.-password .input-icon.-view-password
    top 18px
