.landing-promo
  background-color $violet-background
  background-image url('../images/content/landing_promo_background_image.png')
  background-size 1290px 268px
  background-position 50% calc(100% - 136px)
  background-repeat no-repeat
  text-align center
  padding 96px 0 106px

.landing-promo-image-wrapper
  width 100%
  max-width 900px
  margin 0 auto

.landing-promo-image
  width 100%

.landing-promo-headline
  font-size 56px
  line-height 65px
  text-transform uppercase
  font-weight 600
  color $white
  font-family 'Josefin Sans'
  margin-top 84px

.landing-promo-headline-highlight
  color #7c79b3

.landing-promo-description
  color #E8E8E8
  opacity .8
  line-height 35px
  font-size 20px
  width 840px
  margin 14px auto 45px

.landing-promo-buttons
  .btn.-medium
    padding 20px 65px


@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
	.landing-promo-headline
    font-weight 700
