.landing-promo
  background-color $violet-background
  text-align center
  padding 116px 0 106px
  position relative
  overflow hidden

  .landing_promo_background_left,
  .landing_promo_background_right
    content ''
    display block
    background-repeat no-repeat
    position absolute
    z-index 0
    bottom 136px

  .landing_promo_background_left
    width 287px
    height 268px
    background-image url('../images/content/landing_promo_background_image_left.png')
    left 50%
    transform translate(calc(-100% - 380px), 0)
    background-size 287px 268px

  .landing_promo_background_right
    width 287px
    height 268px
    background-image url('../images/content/landing_promo_background_image_right.png')
    right 50%
    transform translate(calc(100% + 380px), 0)
    background-size 287px 268px

.landing-promo-image-wrapper
  width 100%
  max-width 900px
  margin 0 auto
  position relative
  padding-bottom 15px

.landing-promo-image-top_left,
.landing-promo-image-middle_left,
.landing-promo-image-top_right,
.landing-promo-image-middle_right
  position absolute
  display block
  transition translate .1s linear

.landing-promo-image-top_left
  width 240px
  left 0
  top 57px

.landing-promo-image-middle_left
  width 240px
  left 0
  top 163px

.landing-promo-image-top_right
  width 346px
  right 0
  top 64px
  z-index 0

.landing-promo-image-middle_right
  width 230px
  right 0
  top 167px
  z-index 1

.landing-promo-image
  width 100%
  position absolute
  bottom 0
  left 0

.landing-promo-image-light
  width 490px
  margin 0 auto

.landing-promo-headline
  font-size 56px
  line-height 65px
  text-transform uppercase
  font-weight 600
  color $white
  font-family 'Josefin Sans'
  margin-top 84px
  position relative

.landing-promo-headline-highlight
  color #7c79b3

.landing-promo-description
  color #E8E8E8
  opacity .8
  line-height 35px
  font-size 20px
  width 840px
  margin 14px auto 45px

.landing-promo-buttons
  position relative
  .btn.-medium
    padding 20px 65px


@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
	.landing-promo-headline
    font-weight 700
