$grey-lightest = #E9F1F2

.detail-headline-info
  font-family 'Roboto'
  font-size 21px
  line-height 33px
  font-weight 500
  margin-bottom 20px

.detail-headline-dark-blue
  margin-top 20px
  display block
  font-family 'Josefin Sans'
  font-weight 600
  line-height 34px
  font-size 26px
  color $blue-dark
  transition color .15s linear
  text-decoration none

.license-selector
  margin-top 19px

  .result
    padding 15px 30px 13px 28px

.payment-radio-label
  display inline-block
  margin-left 11px

.info-small-grey
  padding-top: 8px;
  font-size: 12px;
  line-height: 18px;
  color: #747474;

.discount-input
  margin-bottom 13px

  input
    padding 7px 28px 11px !important;
    line-height 1.9

.payment-method:last-child
  margin-left 27px

.cloud-payments
  margin 0 0 30px 0

  a
    color inherit

    &:hover
      text-decoration none

.apply-button
  padding-bottom 1px

.gray-line
  border 1px solid $grey-lightest
  margin 21px 0 0 0

  &.-purchase-content-bottom
    margin-top 58px

.payment-btn
  margin-top 25px;

.promo
  display flex
  justify-content space-between
  margin-top 26px
  
  .dotted
    overflow hidden
    margin 0 4px

  &.-gray
    color $grey-light-medium

  &.-gray-dark
    color $grey

  &.-small
    font-size 18px
    line-height 28px

  &.-big
    font-size 24px
    line-height 38px

.promo-label
  background $white

.promo-value
  background $white

.-purchase-content-info
  color $black
  margin-top 41px !important