.content-wrapper
  width 100%
  display flex
  flex-wrap wrap
  margin 0 auto
  padding 18px 0 0
  box-sizing border-box

  &.-purchase
    max-width 940px
    margin 0 auto
    padding 67px 80px 60px
    background $white
    transform translateY(-13%);
    border-radius 4px
    border 1px solid $grey-light
    justify-content space-between

  &.-publication
    padding-left 82px
    padding-right 80px

  &.-content-right
    flex-direction row-reverse

    .content
      padding-right 0
      padding-left 60px

  &.-large
    .content
      width calc(100% - 320px)

    .content-aside
      width 320px

.aside-headline
  font-size 21px
  line-height 29px
  font-weight 500
  text-align center
  text-transform uppercase
  padding 19px 0 24px
  // letter-spacing .5px

.content
  width calc(100% - 220px)
  padding-right 60px
  box-sizing border-box

  &.-full
    width 100%
    padding-right 0

  &.-full-small
    width 100%
    max-width 1040px
    padding-right 0
    margin 4px auto 0

.content-aside
  width 220px

  &-big
    width: 360px

.section
  padding 74px 0 100px

  &-purchese
    background $grey-lightest-medium

.section-header
  box-sizing border-box
  padding 0 30px 44px
  text-align center
  max-width 940px
  margin 0 auto

  &.-no-description
    padding-bottom 40px

  .content-info-tags
    margin -19px 0 24px

h1.section-header-headline,
h2.section-header-headline
  font-family Josefin Sans
  font-weight 600

  & + .section-header-description
    padding-top 9px

h1.section-header-headline
  font-size 48px
  line-height 54px
  // letter-spacing 1px
  text-transform uppercase

h2.section-header-headline
  font-size 36px
  line-height 45px
  // letter-spacing 0
  text-transform none
  font-weight 500

  &.-roboto
    font-family Roboto

.section-header-description
  font-size 14px
  color $grey-light-medium

@media (max-width 1160px)
  .section
    padding 60px 0 100px

  .content
    &.-full-small
      max-width 680px

  .section-header
    padding-bottom 34px

    &.-sub
      padding-bottom 44px

    &.-no-description
      padding-bottom 18px

    .content-info-tags
      margin-bottom 14px

  .content-wrapper
    padding-top 28px

    &.-large
      .content
        width calc(100% - 260px)
        padding-right 40px

      .content-aside
        width 260px

    &.-publication
      padding-top 18px
      padding-left 40px
      padding-right 40px

  h1.section-header-headline,
  h2.section-header-headline
    font-size 38px
    line-height 48px
    // letter-spacing 1.5px
    padding-bottom 5px

    & + .section-header-description
      padding-top 2px

  h2.section-header-headline
    font-size 36px
    // letter-spacing 0

@media (max-width 992px)
  .section
    padding 60px 0 80px

  .section-header
    padding 0 0 51px

    &.-sub
      padding-bottom 38px

    &.-no-description
      padding-bottom 25px

  h1.section-header-headline
    font-size 32px
    line-height 32px
    padding-bottom 9px

  h2.section-header-headline
    font-size 36px
    line-height 32px
    padding-bottom 12px

  .content
    width 100%
    padding-right 0
    padding-left 0

  .content-wrapper
    padding-top 0px

    &.-content-right .content
      padding-left 0

    &.-large
      .content
        width 100%
        padding-right 0
        padding-left 0

    &.-publication
      padding 5px 10px 0 4px

  .content-aside
    display none

    &.-tablet-hide
      display none

@media (max-width 620px)
  .section
    padding 34px 0 0

  .content
    margin-bottom 62px

    &.-freebie
      margin-bottom 0

    &.-full-small
      margin-bottom 60px

  .content-wrapper
    padding-top 0

    &.-publication
      padding 5px 0 0

      .content
        padding 0 12px 0 13px
        margin-bottom 0

  .section-header
    padding-bottom 20px

    &.-sub
      padding-bottom 23px

    &.-large-mobile-indention
      padding-top 12px

      h1.section-header-headline
        padding-bottom 2px

    &.-no-description
      padding-bottom 16px

    .content-info-tags
      margin-top -4px
      margin-bottom 8px

  span.content-info-tag
    display none

  h1.section-header-headline,
  h2.section-header-headline
    font-size 23px
    line-height 32px
    // letter-spacing .75px
    padding-bottom 11px

  h2.section-header-headline
    // letter-spacing -.25px
    padding-bottom 2px

  .section-header-description
    padding-bottom 7px

  .content-aside
    width 100%
    background $grey-darkest-deep
    display block
    margin 0 -20px 0
    padding 60px 20px 11px

    &.-tablet-hide
      display none

  .content-aside-wrapper
    background $white
    padding 18px 38px 38px
    box-sizing border-box
    border-radius 4px

#panel
  transition transform .25s ease-in-out

  &.search-open
    transform translate(0, 62px)

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi)
	h1.section-header-headline,
  h2.section-header-headline
    font-weight 700
