body
  width 100%
  height 100%

.slideout-menu
  position fixed
  top 0
  bottom 0
  width 268px
  min-height 100%
  overflow-y scroll
  overflow-x hidden
  -webkit-overflow-scrolling touch
  z-index 0
  display none

.slideout-menu-left
  left 0

.slideout-menu-right
  right 0

.slideout-panel
  position relative
  z-index 1
  will-change transform
  background-color #FFF
  min-height 100%

.slideout-open,
// .slideout-open body,
// .slideout-open .slideout-panel
.slideout-open .wrapper .section .base-col
  overflow hidden

.slideout-opened--left
  .slideout-panel
    overflow hidden
    width calc(100% - 268px)



.slideout-opened--left
  .wrapper,
  .main-footer
    width 100vw

.slideout-open
  .slideout-menu
    display block

.slideout-open--left .slideout-menu-right,
.slideout-open--right .slideout-menu-left
  display none !important

.slideout-open .panel-overflow
  position fixed
  width 100vw
  height 100%
  top 0
  left 0
  z-index 9999
  // background rgba(0,0,0,.3)
  overflow hidden

.slideout-open--left .panel-overflow
  left 268px

.slideout-open--right .panel-overflow
  left -268px
